# This is a sample settings.root file
# It is designed to be directly parsable with bash, and a Perl helper is included in the helpers/ directory
# Copy this file to /dreamhack/local/settings.root and chmod it so that only root has access before making any changes

source /dreamhack/local/settings.shared

dh_db_root_username="root"
dh_db_root_password="example"

dh_db_readwrite_username="dreamhacks"
dh_db_readwrite_password="example"
